<mat-toolbar>
    <button mat-icon-button [matMenuTriggerFor]="menu" class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Electrical Health Record</span>
    <span class="example-spacer"></span>
    <button (click) = "loadHome()" mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>home</mat-icon>
    </button>
    <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button> -->
  </mat-toolbar>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="loadFetch()">
      <mat-icon>cloud_download</mat-icon>
      <span>Fetch</span>
    </button>
    <button mat-menu-item (click)="loadStore()">
      <mat-icon>insert_link</mat-icon>
      <span>Insert</span>
    </button>
    <!-- <button mat-menu-item disabled>
      <mat-icon>notifications_off</mat-icon>
      <span>T.B.D.</span>
    </button> -->
  </mat-menu>